.screenshot-wrapper {
  border-radius: 1rem;
  border: solid 1.5rem black;
  outline: solid 0.25rem #ccc;
  background-color: black;

  margin: 1rem 0;
}

.screenshot-contents {
  max-width: 100%;
  border-radius: 0.5rem;
}

@media (width <= 500px) {
  .screenshot-wrapper {
    border: solid 1rem black;
  }
}