.container {
  padding: 1rem;
  margin: 1rem 3rem;
  overflow-wrap: break-word;
}

@media (width <= 600px) {
  .container {
    margin: 1rem 0;
  }
}

.container > :first-child {
  margin-top: 0rem;
}

.container > :last-child {
  margin-bottom: 0rem;
}

.blue {
  background-color: var(--light-blue);
  border-left: 0.5rem solid var(--blue);
}

.orange {
  background-color: var(--light-orange);
  border-left: 0.5rem solid var(--orange);
}