:root {
  --navy: #0c264b;
  --blue: #5492ff;
  --light-blue: #eef6ff;
  --orange: #fea700;
  --light-orange: #fff8ea;
  --gray: #434343;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: solid 3px var(--blue);
}

a:hover, a:focus {
  border-bottom: solid 3px var(--orange);
  transition: color .3s;
}
