.post-list {
  list-style-type: none;
  padding: 0px;
}

.post {
  padding: 15px;
  margin-bottom: 2rem;
}

.post:nth-child(odd) {
  background-color: var(--light-blue);
  border: 0.5rem solid var(--blue) ;
}

.post:nth-child(even) {
  background-color: var(--light-orange);
  border: 0.5rem solid var(--orange) ;
}