.wave {
  display: inline-block;
  transform-origin: 80% 85%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  45% { transform: rotate(15deg); }
  65% { transform: rotate(-10deg); }
  85% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.wave:hover {
  animation: wave 1s;
}

@media (prefers-reduced-motion) {
  .wave:hover {
    animation: none;
  }
}