.greeting {
    font-family: "Amatic SC", sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    line-height: 1.25;
}

.wave {
  display: inline-block;
  height: 1em;
  margin-right: 0.25em;
  transform-origin: 80% 85%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  45% { transform: rotate(15deg); }
  65% { transform: rotate(-10deg); }
  85% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.wave:hover {
  animation: wave 1s;
}

.name {
    font-weight: bold;
}