.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--navy);
}

.title {
  color: white;
  border: none;
}

.title:hover {
  border: none;
}

.title h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 3rem;
  margin: 1rem 0;
}