.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  text-decoration: none;
  color: black;
}

.title h1 {
  font-family: "Dancing Script", sans-serif;
}