.footer {
  text-align: center;
}

.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  gap: 1em;
}

.footerLinks li {
  list-style: none;
}