.social-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
}

.social-links a {
  border: none;
}

.social-links img {
  height: 32px;
}

.social-links li:not(:last-child) {
  margin-right: 2em;
}