/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    -#657b83- OVERRIDE: #6c6c6c
base0     #839496
base1     -#93a1a1- OVERRIDE: #007ca2
base2     #eee8d5
base3     -#fdf6e3- OVERRIDE: var(--light-orange) #fea700
yellow    -#b58900- OVERRIDE: #916d00
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      -#268bd2- OVERRIDE: #2077b5
cyan      #2aa198
green     -#859900- OVERRIDE: #527713
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #6c6c6c; /* base00 */
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	/* border-radius: 0.3em; */
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: var(--light-orange); /* base3 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0 .1em;
	/* border-radius: .3em; */
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #007ca2; /* base1 */
}

.token.punctuation {
	color: #586e75; /* base01 */
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #2077b5; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: #2aa198; /* cyan */
}

.token.entity {
	color: #6c6c6c; /* base00 */
	background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #527713; /* green */
}

.token.function,
.token.class-name {
	color: #916d00; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
	color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
