.container {
  background: #011627;
  color: white;
  margin: 1.5rem 0;
  font-family: monospace;
  font-size: 1rem;
}

.file-title {
  border-bottom: 1px solid #5f7e97;
  padding: 0.75rem;
  background: #0b2942;
}

.language-tag {
  background: #6449a3;
  padding: 0.25rem 0.75rem;
  margin-left: 1rem;
  border-radius: 0 0 5px 5px;
  display: inline-block;
}

.pre {
  overflow: auto;
  padding: 1rem 0;
  margin-top: 0;
}

.code {
  display: block;
  min-width: fit-content; /* for horizontal scroll */
}

.line {
  padding: 0rem 1rem;
}

.highlight {
  background-color: #1d3b53;
  display: block;
}